<div ng-controller="detailEnseignant">
<table>
                    <thead>
                        <tr>
                            <th>N°Enseignant</th>
                            <th>Nom</th>
                            <th>Prenom</th>
                            <th>Adresse</th>
                            <th>Code postal</th>
                            <th>EmailPerso</th>
                            <th>EmailUBO</th>
                            <th>Mobile</th>
                            <th>Sexe</th>
                            <th>Pays</th>
                            <th>Telephone</th>
                            <th>Type</th>
                            <th>Ville</th>
                            
                        </tr>
                    </thead>
                    <tbody>
                    
                            <td>{{enseignants.data.noEnseignant}}</td>
                            <td>{{enseignants.data.nom}}</td>
                             <td>{{enseignants.data.prenom}}</td>
                            <td>{{enseignants.data.adresse}}</td>
                            <td>{{enseignants.data.codePostal}}</td>
                            <td>{{enseignants.data.emailPerso}}</td>
                            <td>{{enseignants.data.emailUbo}}</td>       
                            <td>{{enseignants.data.mobile}}</td>
                            <td>{{enseignants.data.sexe}}</td>
                            <td>{{enseignants.data.pays}}</td>
                            <td>{{enseignants.data.telephone}}</td>       
                            <td>{{enseignants.data.type}}</td>
                            <td>{{enseignants.data.ville}}</td>                        
 
                        </tr>
                    </tbody>
                </table>
                </div>
              