<div ng-controller="detailFormation">
<table>
                    <thead>
                        <tr>
                            <th>Code Formation</th>
                            <th>Debut Accréditation</th>
                            <th>Diplome</th>
                            <th>Double Diplomation</th>
                            <th>Fin Accréditation</th>
                            <th>N°Année</th>
                            <th>Nom Formation</th>
                        </tr>
                    </thead>
                    <tbody>
                    
                            <td>{{formation.data.codeFormation}}</td>
                            <td>{{formation.data.debutAccreditation}}</td>
                             <td>{{formation.data.diplome}}</td>
                            <td>{{formation.data.doubleDiplome}}</td>
                            <td>{{formation.data.finAccreditation}}</td>
                            <td>{{formation.data.n0Annee}}</td>       
                            <td>{{formation.data.nomFormation}}</td>
                                        
                        </tr>
                    </tbody>
                </table>
                </div>
              