    <div ng-controller="modifierFormation"> 
    
      <form  ng-submit="modifierFormation()">
                <table>
                <tr><td><label>Code Formation</label></td><td><input type="text" ng-model="formationAModifier.codeFormation" disabled="disabled"></td></tr>
                <tr><td><label>Debut Accréditation</label></td><td><input type="text" ng-model="formationAModifier.debutAccreditation"></td></tr>
                <tr><td><label>Diplome</label></td><td><input type="text" ng-model="formationAModifier.diplome"></td></tr>
                <tr><td><label>Double Diplomation</label></td><td><input type="text" ng-model="formationAModifier.doubleDiplome"></td></tr>
                <tr><td><label>Fin Accréditation</label></td><td><input type="text" ng-model="formationAModifier.finAccreditation"></td></tr>
                <tr><td><label>N°Année</label></td><td><input type="text" ng-model="formationAModifier.n0Annee"></td></tr>
                <tr><td><label>Nom Formation</label></td><td><input type="text" ng-model="formationAModifier.nomFormation"></td></tr>
                <tr><td align="center" colspan="2"><input class="submit" type="submit" value="Modifier"></td></tr>
                </table>
                </form>	
                
                </div>